@{
    ViewData["Title"] = "Painel";
    Layout = "~/Views/Shared/_LayoutPainel.cshtml";
}

<!--breadcrumbs-->
<div id="content-header">
    <div id="breadcrumb"> <a asp-controller="Painel" asp-action="PaginaInicial" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
</div>
<div class="controls controls-row">
    <div class="span4">
        <img src="~/img/HomeImage.png" />
    </div>
    <div class="span6" style="margin-top:60px;">
        <h1>Sistema de gestão de Saúde</h1>
    </div>
</div>
<!--End-breadcrumbs-->
@await Component.InvokeAsync("Painel")

