@{
    var informacaoUsuario = TCC.GestaoSaude.View.SessionCustom.Sessao.RetornarInformacaoUsuario(ViewBag.Session);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gestão de Saúde</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="~/js/Matrix/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Matrix/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Matrix/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/css/Matrix/fullcalendar.css" />
    <link rel="stylesheet" href="~/css/Matrix/matrix-style.css" />
    <link rel="stylesheet" href="~/css/Matrix/matrix-media.css" />
    <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Matrix/jquery.gritter.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <!--Header-part-->
    <div id="header">
        <div style="float: left; text-align: center; font-size: 20px; padding-top: 10px; font-family: Arial; width: 200px; color: white;">
            <p>Sistema</p>
            <p>Gestão de Saúde</p>
        </div>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="#" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">Bem Vindo</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-user"></i> @informacaoUsuario.NomeUsuario</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-check"></i> Perfis: @informacaoUsuario.Perfis</a></li>
                    <li class="divider"></li>
                    <li><a asp-action="Logout" asp-controller="Painel"><i class="icon-key"></i> Sair</a></li>
                </ul>
            </li>
            <li class=""><a title="" asp-action="Logout" asp-controller="Painel"><i class="icon icon-share-alt"></i> <span class="text">Sair</span></a></li>
        </ul>
    </div>
    <!--close-top-Header-menu-->
    <!--start-top-serch-->
    <div id="search">
        @*<input type="text" placeholder="Search here..." />
            <button type="submit" class="tip-bottom" title="Search"><i class="icon-search icon-white"></i></button>*@
    </div>
    <!--close-top-serch-->
    <!--sidebar-menu-->
    <div id="sidebar">
        <a asp-action="PaginaInicial" asp-controller="Painel" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            @await Component.InvokeAsync("Menu")
        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        @RenderBody()
    </div>
    <!--end-main-container-part-->
    <!--Footer-part-->
    <div class="row-fluid">
        <div id="footer" class="span12"> 2020 &copy; TCC - POS Engenharia de Software - PUC Minas</div>
    </div>
    <!--end-Footer-part-->


    
    <script src="~/js/Matrix/excanvas.min.js"></script>
    <script src="~/js/Matrix/jquery.ui.custom.js"></script>
    <script src="~/js/Matrix/bootstrap.min.js"></script>
    <script src="~/js/Matrix/jquery.flot.min.js"></script>
    <script src="~/js/Matrix/jquery.flot.resize.min.js"></script>
    <script src="~/js/Matrix/jquery.peity.min.js"></script>
    <script src="~/js/Matrix/fullcalendar.min.js"></script>
    <script src="~/js/Matrix/matrix.js"></script>
    <script src="~/js/Matrix/matrix.dashboard.js"></script>
    @*<script src="~/js/Matrix/jquery.gritter.min.js"></script>*@
    <script src="~/js/Matrix/matrix.interface.js"></script>
    <script src="~/js/Matrix/matrix.chat.js"></script>
    <script src="~/js/Matrix/jquery.validate.js"></script>
    <script src="~/js/Matrix/matrix.form_validation.js"></script>
    <script src="~/js/Matrix/jquery.wizard.js"></script>
    <script src="~/js/Matrix/jquery.uniform.js"></script>
    <script src="~/js/Matrix/select2.min.js"></script>
    <script src="~/js/Matrix/matrix.popover.js"></script>
    <script src="~/js/Matrix/jquery.dataTables.min.js"></script>
    <script src="~/js/Matrix/matrix.tables.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
